# Cache files
**/.ipynb_checkpoints
**/__pycache__

# VS Code
.vscode

# MacOS
**/.DS_Store

# Config files
**/*.ini

# Large files
data/
data
**/*.png
**/*.pkl
**/*.pickle
**/*.gcode
**/*.txt
**/*.zip

# model checkpoints and tensorboard logs
*.pth
runs/
